---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import ValueBand from "../components/ValueBand.astro"
import Problems from "../components/Problems.astro"
import Features from "../components/Features.astro"
import Screenshots from "../components/Screenshots.astro"
import Philosophy from "../components/Philosophy.astro"
import DemoVideo from "../components/DemoVideo.astro"
import Pricing from "../components/Pricing.astro"
import DemoCTA from "../components/DemoCTA.astro"
import Documentation from "../components/Documentation.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
  <Header />
  <main>
    <Hero />
    <ValueBand />
    <Problems />
    <Features />
    <Screenshots />
    <Philosophy />
    <DemoVideo />
    <Pricing />
    <DemoCTA />
    <Documentation />
  </main>
  <Footer />
</Layout>
